<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wc.project.fruitshop.mapper.ShopAddressMapper">

    <resultMap type="com.wc.project.fruitshop.entity.ShopAddress" id="ShopAddressMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="county" column="county" jdbcType="VARCHAR"/>
        <result property="addressDetail" column="address_detail" jdbcType="VARCHAR"/>
        <result property="areaCode" column="area_code" jdbcType="VARCHAR"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="isDefault" column="is_default" jdbcType="OTHER"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, user_id, province, city, county, address_detail, area_code, tel, is_default, add_time, update_time, deleted
    </sql>
    <!--查询单个-->
    <select id="queryById" resultMap="ShopAddressMap">
        select
          id, name, user_id, province, city, county, address_detail, area_code, tel, is_default, add_time, update_time, deleted
        from fruit_shop.shop_address
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ShopAddressMap">
        select
          id, name, user_id, province, city, county, address_detail, area_code, tel, is_default, add_time, update_time, deleted
        from fruit_shop.shop_address
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ShopAddressMap">
        select
          id, name, user_id, province, city, county, address_detail, area_code, tel, is_default, add_time, update_time, deleted
        from fruit_shop.shop_address
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="province != null and province != ''">
                and province = #{province}
            </if>
            <if test="city != null and city != ''">
                and city = #{city}
            </if>
            <if test="county != null and county != ''">
                and county = #{county}
            </if>
            <if test="addressDetail != null and addressDetail != ''">
                and address_detail = #{addressDetail}
            </if>
            <if test="areaCode != null and areaCode != ''">
                and area_code = #{areaCode}
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
            <if test="isDefault != null">
                and is_default = #{isDefault}
            </if>
            <if test="addTime != null">
                and add_time = #{addTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into fruit_shop.shop_address(name, user_id, province, city, county, address_detail, area_code, tel, is_default, add_time, update_time, deleted)
        values (#{name}, #{userId}, #{province}, #{city}, #{county}, #{addressDetail}, #{areaCode}, #{tel}, #{isDefault}, #{addTime}, #{updateTime}, #{deleted})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update fruit_shop.shop_address
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="province != null and province != ''">
                province = #{province},
            </if>
            <if test="city != null and city != ''">
                city = #{city},
            </if>
            <if test="county != null and county != ''">
                county = #{county},
            </if>
            <if test="addressDetail != null and addressDetail != ''">
                address_detail = #{addressDetail},
            </if>
            <if test="areaCode != null and areaCode != ''">
                area_code = #{areaCode},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault},
            </if>
            <if test="addTime != null">
                add_time = #{addTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from fruit_shop.shop_address where id = #{id}
    </delete>

    <select id="selectByUserId" resultType="com.wc.project.fruitshop.entity.ShopAddress">
        select
          <include refid="Base_Column_List" />
        from
          shop_address
        where
          user_id = #{userId}
    </select>

</mapper>